<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiesu.qingningbilling.mapper.AbstractEntityMapper">

  <resultMap id="AbstractResult" type="com.xiesu.qingningbilling.entity.AbstractEntity">
    <id property="id" column="id"/>
    <result property="version" column="version"/>
    <result property="createTime" column="gmt_create"/>
    <result property="updateTime" column="gmt_update"/>

  </resultMap>

</mapper>
