<?xml version="1.0" encoding="UTF-8" ?>
<!--
 Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiesu.dao.UserBillDao">
  <resultMap id="baseResult" type="com.xiesu.domain.UserBill"
    extends="com.xiesu.dao.AbstractEntityDao.AbstractResult">

    <result property="billId" column="bill_id"/>
    <result property="accountId" column="account_id"/>
    <result property="gmtBill" column="gmt_bill"/>
    <result property="billLabelId" column="bill_label_id"/>
  </resultMap>
  <insert id="insertOne">
    insert into user_bill (bill_id, account_id, gmt_bill, bill_label_id, gmt_create)
    values (#{bill.billId}, #{bill.accountId}, #{bill.gmtBill}, #{bill.billLabelId},
            #{bill.createTime})


  </insert>
  <delete id="deleteByBillId">
    delete
    from user_bill as b
    where b.bill_id = #{billId}
  </delete>
  <delete id="deleteBatchByBillId">
    delete
    from user_bill as b
    where b.bill_id in
    <foreach collection="billIdList" nullable="false" open="(" close=")" separator="," item="item">
      #{item}
    </foreach>
  </delete>
  <select id="selectOneByBillId" resultMap="baseResult">
    select b.*
    from user_bill as b
    where b.bill_id = #{billId}

  </select>

</mapper>
