<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiesu.qingningbilling.mapper.UserBillMapper">
  <resultMap id="baseResult" type="com.xiesu.qingningbilling.entity.UserBill"
    extends="com.xiesu.qingningbilling.mapper.AbstractEntityMapper.AbstractResult">

    <result property="billId" column="bill_id"/>
    <result property="accountId" column="account_id"/>
    <result property="gmtBill" column="gmt_bill"/>
    <result property="billLabelId" column="bill_label_id"/>
  </resultMap>
  
</mapper>
