<?xml version="1.0" encoding="UTF-8" ?>
<!--
 Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiesu.dao.UserBillLabelRelationDao">
  <insert id="insertBatch">
    insert into user_bill_relation (bill_label_id, label_id, gmt_create)
    values
    <foreach collection="relationList" separator="," nullable="false" item="relation">
      (#{relation.billLabelId}, #{relation.labelId}, #{relation.createTime})
    </foreach>

  </insert>

  <resultMap id="baseResult" type="com.xiesu.domain.UserBillLabelRelation"
    extends="com.xiesu.dao.AbstractEntityDao.AbstractResult">

    <result property="billLabelId" column="bill_label_id"/>
    <result property="labelId" column="label_id"/>

    <result property="deleteFlag" column="delete_flag"/>
  </resultMap>


  <delete id="deleteByBillId">
    delete
    from user_bill_relation as r
    where r.bill_label_id = (select b.bill_label_id from user_bill as b where b.bill_id = #{billId})
  </delete>

  <delete id="deleteBatchByBillId">
    delete
    from user_bill_relation as r
    where r.bill_label_id = (select b.bill_label_id from user_bill as b where b.bill_id in
    <foreach collection="billIdList" item="item" separator="," open="(" close=")" nullable="false">
      #{item}
    </foreach>
    )
  </delete>

</mapper>
